.background-style {
    -fx-background-color: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    /*-fx-background-image: url("gggrain.svg");*/
    /*-fx-background-position: center;*/
    /*-fx-background-repeat: no-repeat;*/
    /*-fx-background-size: cover;*/
}

.input-container-style {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.left-container {
    -fx-background-color: #d2d9e7;
    -fx-background-radius: 0;
}

.upper-container {
    -fx-background-color: #a8a7cc;
    -fx-background-radius: 0 0 35 35;
}

.title-text-box {
}

.title-text {
    -fx-font-family: "Satoshi Variable";
}

.options-text {
    -fx-font-family: "Satoshi Medium";
}